#java specific
*.class

#directory

/bin/*

#generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Eclipse/Maven
.classpath
.project
.settings
.sonar
*.log
*.log.gz
/dependency-reduced-pom.xml
/target
/bin